.main-component {
  width: 100%;
  height: 90%;
  display: flex;
  .streams {
    width: 20%;
    height: 100%;
    padding: 5px;
  }
  .stream-embed {
    width: 60%;
  }
  .channels {
    width: 20%;
  }
}
.stream-transition-enter {
  opacity: 0.01;
}
.stream-transition-enter.stream-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.stream-transition-leave {
  opacity: 1;
}

.stream-transition-leave.stream-transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
