.header-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  div.logo {
    width: 250px;
    display: inline-block;
    img {
      width: 100%;
    }
  }
}
